[user]
  name = {{ user.name }}
  email = {{ user.mail }}

{% if user.github is defined %}
[github]
  user = {{ user.github }}

{% endif %}
{% if user.gitlab is defined %}
[gitlab]
  user = {{ user.gitlab }}

{% endif %}
[core]
  editor = nano

[commit]
  template = ~/.git/gitCommitTemplate.txt

[alias]
  # ATTENTION: All aliases prefixed with ! run in /bin/sh make sure you use sh syntax, not bash/zsh or whatever
  br = branch
  st = status
  co = checkout
  cob = checkout -b
  df = diff
  ci = commit
  cim = commit -m
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lgs = lg -5
  p = push
  pfwl = push --force-with-lease
  undo = reset HEAD~
  cia = commit --amend
  cian = commit --amend --no-edit
  wip = "!git add . && git commit -m '[skip-ci] WIP'"
  rb = "!git co master && git pull origin master && git co - && git rebase origin/master"
  recentb = "!r() { refbranch=$1 count=$2; git for-each-ref --sort=-committerdate refs --format='%(refname:short)|%(HEAD)%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)|%(color:red)%(objectname:short)%(color:reset)' --color=always --count=${count:-20} | while read line; do branch=$(echo \"$line\" | awk 'BEGIN { FS = \"|\" }; { print $1 }' | tr -d '*'); ahead=$(git rev-list --count \"${refbranch:-origin/master}..${branch}\"); behind=$(git rev-list --count \"${branch}..${refbranch:-origin/master}\"); colorline=$(echo \"$line\" | sed 's/^[^|]*|//'); echo \"$ahead|$behind|$colorline\" | awk -F'|' -vOFS='|' '{$5=substr($5,1,70)}1' ; done | ( echo \"ahead|behind||branch|lastcommit|message|author|hash\\n\" && cat) | column -ts'|';}; r"
  recentbd = "!r() { refbranch=$1 count=$2; git for-each-ref --sort=-committerdate refs --format='%(refname:short)|%(HEAD)%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)|%(color:red)%(objectname:short)%(color:reset)' --color=always --count=${count:-20} | while read line; do branch=$(echo \"$line\" | awk 'BEGIN { FS = \"|\" }; { print $1 }' | tr -d '*'); ahead=$(git rev-list --count \"${refbranch:-origin/develop}..${branch}\"); behind=$(git rev-list --count \"${branch}..${refbranch:-origin/develop}\"); colorline=$(echo \"$line\" | sed 's/^[^|]*|//'); echo \"$ahead|$behind|$colorline\" | awk -F'|' -vOFS='|' '{$5=substr($5,1,70)}1' ; done | ( echo \"ahead|behind||branch|lastcommit|message|author|hash\\n\" && cat) | column -ts'|';}; r"
  noremote = "!git branch --format '%(refname:short) %(upstream)' | awk '{if (!$2) print $1;}'"

[init]
  defaultBranch = main